<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Start Page</title>
  </head>
  <body>
    <div class="container mt-4">
        <ul class="nav nav-pills">
            <li class="nav-item">
                {% url 'home' as url_home %}
                <a class="nav-link {% if url_home == request.path %} active {% endif %}" href="{{ url_home }}">Главная страница</a>
            </li>
            <li class="nav-item">
                {% url 'auth' as url_auth %}
                <a class="nav-link {% if url_auth == request.path %} active {% endif %}" href="{{ url_auth }}">Войти</a>
            </li>
            <li class="nav-item ">
                {% url 'register' as url_register %}
                <a class="nav-link {% if url_register == request.path %} active {% endif %} ml-5 " href="{{ url_register }}">Зарегистрироваться</a>
            </li>
        </ul>
        {% block content %}
            <h2 class="mt-4">Автоматизированный учебный курс</h2>
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>